html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, i, em {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
}

*::after, *::before {
    box-sizing: inherit;
}

table {
    border-collapse: collapse;
}

.clear {
    clear: both;
}

button:hover {
    cursor: pointer;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
