<template>
  <v-app id="activities">
    <HeaderAuth :activeTab="4"></HeaderAuth>
    <v-container fluid>
      <v-layout class="text-xs-center">
        <v-flex xs6 class="px-2" v-show="preload && !errorLoad" v-for="(action, index) in actions" :key="index">
          <v-card>
            <v-card-title class="text-xs-center">
              <p class="display-1 ma-auto">{{ action.header }}</p>
            </v-card-title>
            <v-card-text>
              <v-expansion-panel v-if="history[action.normal].length > 0">
                <v-expansion-panel-content
                  v-for="(h, hi) in history[action.normal]"
                  :key="`${index}-${hi}`"
                >
                  <v-layout slot="header" align-center class="history_line">
                    <v-flex xs3>{{ h.date_time.split(' ')[1] }}<br/>{{ h.date_time | reformatDate }}</v-flex>
                    <v-flex xs6 offset-xs2 class="text-xs-center">
                      <span class="history_money">{{ h.money | moneyText }} YEA</span>
                      <br/>
                      ({{ h.coin.toFixed(3) }} USDT)
                    </v-flex>
                  </v-layout>
                  <v-card>
                    <v-card-text>
                      <p v-if="action.normal == 'deposit'">From: {{ h.from_address }}</p>
                      <p v-else>To: {{ h.to_address }}</p>
                      <p>Txid: {{h.txid}}</p>
                      <v-layout slot="header" align-center>
                        <v-flex xs6>
                          <p>Transaction: {{h.log_id}}</p>
                        </v-flex>
                        <!-- <v-flex xs6>
                          <p>Ratio: {{ h.ratio | moneyText }}</p>
                        </v-flex> -->
                      </v-layout>
                    </v-card-text>
                  </v-card>
                </v-expansion-panel-content>
              </v-expansion-panel>
              <template v-else>
                <p>No {{ action.normal }} activities yet</p>
              </template>
            </v-card-text>
          </v-card>
        </v-flex>

        <v-card v-show="!!errorLoad">
          <v-card-text>
              <v-alert
                :value="true"
                type="error"
              >
                {{ errorLoad }}
              </v-alert>
            </v-card-text>
        </v-card>
        <v-progress-circular
          v-show="!preload && !errorLoad"
          :size="50"
          indeterminate
          color="primary"
          class="ma-auto"
        ></v-progress-circular>
      </v-layout>
    </v-container>
  </v-app>
</template>

<script>
import HeaderAuth from "@/components/HeaderAuth.vue";
import config from "@/config.js";

const monthText = [
  "",
  "Jan",
  "Feb",
  "Mar",
  "Apr",
  "May",
  "Jun",
  "Jul",
  "Aug",
  "Sep",
  "Oct",
  "Nov",
  "Dec"
];

export default {
  components: {
    HeaderAuth
  },
  data: () => ({
    preload: false,
    errorLoad: "",
    actions: [
      { normal: "deposit", header: "Deposit" },
      { normal: "withdraw", header: "Withdraw" }
    ],
    history: {
      deposit: [],
      withdraw: []
    }
  }),
  filters: {
    reformatDate(dtString) {
      const date = dtString.split(" ")[0].split("-");
      return `${monthText[date[0]]} ${date[1]}`;
    },
    moneyText: config.moneyText
  },
  methods: {},
  async created() {
    this.accInfo = config.getAccInfo();

    let json = sessionStorage.getItem("rpay:activities");
    if (json) {
      const activities = JSON.parse(json);
      if (activities.timestamp + 60000 <= new Date().getTime()) {
        //Reset after 1 min
        this.history = activities.history;
        this.preload = true;
        return;
      }
      sessionStorage.removeItem("rpay:acctivities");
    }

    const depositRes = (await config.post("history_coin_receive", {
      totalRow: 20,
      uid: this.accInfo.uid
    })).data;

    if (depositRes.status < 0) {
      this.errorLoad = config.handleError(depositRes.status);
      return;
    }
    this.history.deposit = depositRes.data;

    const withdrawRes = (await config.post("history_coin_transfer", {
      totalRow: 20,
      uid: this.accInfo.uid
    })).data;

    if (withdrawRes.status < 0) {
      this.errorLoad = config.handleError(withdrawRes.status);
      return;
    }
    this.history.withdraw = withdrawRes.data;
    sessionStorage.setItem(
      "rpay:activities",
      JSON.stringify({ timestamp: new Date().getTime(), history: this.history })
    );

    this.preload = true;
  }
};
</script>

<style scoped>
.container {
  max-width: 1000px;
  margin: auto;
  padding-top: 80px;
}

.history_line {
  font-size: 17px;
}

.history_money {
  font-size: 18px;
  color: green;
}
</style>
