<template>
  <v-app id="deposit">
    <HeaderAuth :activeTab="2"></HeaderAuth>
    <v-container fluid>
      <v-layout class="text-xs-center">
        <v-flex xs12 sm10 md7 class="px-2" v-show="preload && !errorLoad">
          <v-card>
            <v-card-title class="text-xs-center">
              <p class="display-1 ma-auto">Deposit</p>
            </v-card-title>
            <v-card-text class="text-xs-left">
              <p class="headline ml-4">Step 1: Send USDT to publisher address</p>
              <p class="ml-4">
                <b>Ratio: 1 USDT = 20.000 YEA</b>
              </p>
              <v-text-field
                id="copy-address"
                prepend-icon="account_balance_wallet"
                append-icon="file_copy"
                @click:append="copyAddress"
                box
                readonly
                label="USDT Deposit Address"
                :value="addressInfo"
                class="mt-4"
              ></v-text-field>
              <v-tooltip top v-model="copied" class="hidden-tooltip">
                <v-btn slot="activator" class="btn-hidden-tooltip"></v-btn>
                <span>Copied</span>
              </v-tooltip>
              <v-alert :value="true" type="warning" color="amber accent-1" class="black--text">
                <b>Important</b>
                <br>
                <br>Send only USDT to this deposit address. Sending any other coin or token to this address may result in the loss of your deposit.
                <br>
                <br>You will get the number of YEA equal to the number of USDT that publisher receives, not the number of USDT that you send out.
                <!-- After deposit transaction is completed, please send TxID to us for update your account balance. -->
              </v-alert>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="primary" @click="openDeposit()">Add YEA</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
          <v-card class="mt-3">
            <v-card-text>
              <p class="headline mt-2 ml-4 text-xs-left">Step 2: Confirm TxID</p>
              <v-text-field prepend-icon="local_atm" label="TxID" type="text" v-model="txid"></v-text-field>
              <v-combobox
                label="Exchange (Optional)"
                prepend-icon="account_balance"
                chips
                v-model="exSelect"
                :items="exItems"
              ></v-combobox>
              <v-alert
                :value="!!reqStatus.length"
                :type="reqStatus.length ? reqStatus : 'error'"
              >{{ reqText }}</v-alert>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="primary" :disabled="txid == ''" @click="sendRequest">Send</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-flex>

        <v-flex xs12 sm10 md5 class="px-2" v-show="preload && !errorLoad">
          <v-card>
            <v-card-title class="text-xs-center">
              <p class="display-1 ma-auto">Deposit Request</p>
            </v-card-title>
            <v-card-text class="text-xs-left">
              <v-expansion-panel v-if="!!requestList.length">
                <v-expansion-panel-content v-for="req in requestList" :key="req.log_id">
                  <div slot="header" class="header_request" style="max-width: 100%;">
                    <p>{{ req.tx_id }}</p>
                    {{ req.status }}
                  </div>
                  <v-card>
                    <v-card-text>
                      <p>TxID: {{ req.tx_id }}</p>
                      <!-- <p>Time: {{ req.date_time.split(' ')[1] }} {{req.date_time | reformatDate}}</p> -->
                      <p>Time: {{req.date_time }}</p>
                      <p>Exchange: {{ req.floor_name }}</p>
                      <p>Status: {{ req.status }}</p>
                    </v-card-text>
                  </v-card>
                </v-expansion-panel-content>
              </v-expansion-panel>
              <template v-else>
                <p class="text-xs-center">No requests yet</p>
              </template>
            </v-card-text>
          </v-card>
        </v-flex>

        <v-flex xs12 v-show="!!errorLoad">
          <v-card>
            <v-card-text>
              <v-alert :value="true" type="error">{{ errorLoad }}</v-alert>
            </v-card-text>
          </v-card>
        </v-flex>
        <v-progress-circular
          v-show="!preload && !errorLoad"
          :size="50"
          indeterminate
          color="primary"
          class="ma-auto"
        ></v-progress-circular>
      </v-layout>
    </v-container>
  </v-app>
</template>

<script>
import HeaderAuth from "@/components/HeaderAuth.vue";
import config from "@/config.js";

let timeoutCopy = null;

const monthText = [
  "",
  "Jan",
  "Feb",
  "Mar",
  "Apr",
  "May",
  "Jun",
  "Jul",
  "Aug",
  "Sep",
  "Oct",
  "Nov",
  "Dec"
];

export default {
  components: {
    HeaderAuth
  },
  data: () => ({
    preload: false,
    errorLoad: "",
    addressInfo: null,
    copied: false,
    txid: "",
    exSelect: "",
    exItems: ["Binance", "Bitfinex", "Bittrex", "BitMex", "KuCoin", "Houbi"],
    reqStatus: "",
    reqText: "",
    requestList: []
  }),
  methods: {
    copyAddress() {
      const addressTF = document.getElementById("copy-address");
      addressTF.select();
      window.document.execCommand("copy");
      this.copied = true;
      clearTimeout(timeoutCopy);
      timeoutCopy = setTimeout(() => {
        this.copied = false;
      }, 2000);
    },
    openDeposit() {
      window
        .open("https://www.binance.com/userCenter/withdrawal.html", "_blank")
        .focus();
    },
    async sendRequest() {
      this.reqStatus = "";

      const response = await config.post("request_transaction_coin", {
        uid: this.accInfo.uid,
        txid: this.txid,
        floor_name: this.exSelect
      });

      if (response.status < 0) {
        this.reqStatus = "error";
        if (response.status == -6) {
          this.reqText = "Account not existed";
        } else if (response.status == -59) {
          this.reqText = "TxID already existed";
        } else {
          this.reqText = "System error";
        }

        return;
      }

      this.reqStatus = "success";
      this.reqText = "Success";
      setTimeout(() => {
        location.reload();
      }, 2000);
    }
  },
  filters: {
    reformatDate(dtString) {
      const date = dtString.split(" ")[0].split("-");
      return `${monthText[date[0]]} ${date[1]}`;
    }
  },
  async created() {
    this.accInfo = config.getAccInfo();

    let addressInfo = sessionStorage.getItem("rpay:publisher_address");
    if (!addressInfo) {
      const addressRes = (await config.post("get_address", {})).data;
      if (addressRes.status < 0) {
        this.errorLoad = "System error. Please try again";
        return;
      }
      this.addressInfo = addressRes.data.usdt_address;
      sessionStorage.setItem(
        "rpay:publisher_address",
        JSON.stringify(addressRes.data.usdt_address)
      );
    } else {
      this.addressInfo = JSON.parse(addressInfo);
    }

    const txidRes = (await config.post("history_txid", {
      uid: this.accInfo.uid
    })).data;

    if (status >= 0) {
      this.requestList = txidRes.data;
    }
    this.preload = true;
  }
};
</script>

<style scoped>
.container {
  max-width: 1000px;
  margin: auto;
  padding-top: 80px;
}

.hidden-tooltip {
  position: absolute;
  right: 0;
  width: 0;
}

.btn-hidden-tooltip {
  position: relative;
  right: 90px;
  top: -85px;
  transform: scaleX(0);
}

.header_request {
  font-size: 17px;
  line-height: 28px;
}
</style>
