<template>
  <v-app id="home">
    <HeaderAuth :activeTab="0"></HeaderAuth>
    <v-container fluid>
      <v-layout>
        <Action></Action>
        <AccountInfo :accInfo="accInfo"></AccountInfo>
      </v-layout>
    </v-container>
  </v-app>
</template>

<script>
import HeaderAuth from "@/components/HeaderAuth.vue";
import Action from "@/components/Home/Action.vue";
import AccountInfo from "@/components/Home/AccountInfo.vue";
import config from "@/config.js";

export default {
  components: {
    HeaderAuth,
    Action,
    AccountInfo
  },
  created() {
    this.accInfo = config.getAccInfo();
  }
};
</script>

<style scoped>
.container {
  max-width: 1000px;
  margin: auto;
  padding-top: 80px;
}
</style>
