<template>
  <v-app id="login">
    <Header></Header>
    <v-content>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs8 sm6 md4>
            <v-card max-width="500" class="ma-auto overflow-hidden">
              <h4 class="text-xs-center display-1 my-4">LOGIN</h4>
              <!-- <v-stepper  v-model="step" value="1" class="elevation-0">
                <v-stepper-header class="elevation-0">
                  <v-stepper-step :complete="step > 1" step="1">Authenticate</v-stepper-step>
                  <v-divider></v-divider>
                  <v-stepper-step step="2">Enter OTP Token</v-stepper-step>
                </v-stepper-header>

                <v-stepper-items>
              <v-stepper-content step="1">-->
              <!-- <v-card>
                      <v-card-text>
                      </v-card-text>
              </v-card>-->
              <!-- </v-stepper-content>

                  <v-stepper-content step="2">
                    <v-card>
                      <v-card-text>
                        <v-form
                          v-model="validOTP"
                          lazy-validation>
                          <v-btn flat icon @click="clear">
                            <v-icon>chevron_left</v-icon>
                          </v-btn>
                          <p class="text-xs-center">Please enter your OTP into textbox below</p>
                          <v-text-field 
                            prepend-icon="phonelink_lock"
                            :append-icon="otp.length == 6 && validOTP ? 'done' : ''"
                            label="OTP"
                            type="text"
                            validate-on-blur
                            :rules='[v => !!v || "OTP is required",
                            v => v.length == 6 || "OTP must be 6 characters"]'
                            v-model="otp">
                          </v-text-field>
                        </v-form>
                      </v-card-text>
                    </v-card>
                  </v-stepper-content>
              </v-stepper-items>
              </v-stepper>-->
              <v-card-text>
                <v-form v-model="valid" lazy-validation @submit="login">
                  <v-text-field
                    prepend-icon="person"
                    label="Username"
                    type="text"
                    validate-on-blur
                    :rules="userRules"
                    v-model="username"
                  ></v-text-field>
                  <v-text-field
                    v-model="password"
                    prepend-icon="lock"
                    :append-icon="showPass ? 'visibility_off' : 'visibility'"
                    label="Password"
                    :type="showPass ? 'text' : 'password'"
                    validate-on-blur
                    :rules="pwdRules"
                    @click:append="!isLoading && (showPass = !showPass)"
                  ></v-text-field>
                  <!-- <div class="g-recaptcha" data-sitekey="6Lfzq38UAAAAAGEgGYqg0THhhVc9prYEZ4cVjWNF" style="width: 304px; margin: 0 auto;"></div> -->
                  <div id="reCapt" style="width: 304px; margin: 0 auto;"></div>
                </v-form>
                <div class="text-xs-center">
                  <v-alert v-show="textError != ''" type="error">{{ textError }}</v-alert>
                </div>

                <v-flex xs12 class="text-xs-center">
                  <br>
                  <v-btn
                    round
                    color="primary"
                    @click="login"
                    :loading="isLoading"
                    :disabled="isLoading"
                  >Login</v-btn>
                  <br>
                  <br>
                </v-flex>
                <v-flex xs12 class="text-xs-center">
                  <v-divider></v-divider>
                  <br>
                  <div class="title">OR</div>
                  <br>
                  <v-btn
                    round
                    color="primary"
                    @click="loginFb"
                    :loading="isLoading"
                    :disabled="isLoading"
                  >Login Facebook</v-btn>
                  <br>
                </v-flex>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import Header from "@/components/Header.vue";
import config from "@/config.js";
const md5 = require("md5");

export default {
  components: {
    Header
  },
  data: () => ({
    step: 1,
    username: "",
    password: "",
    otp: "",
    showPass: false,
    isLoading: false,
    //Form validate
    userRules: [v => !!v || "Name is required"],
    pwdRules: [
      v => !!v || "Password is required",
      v => v.length >= 6 || "Password must be more than 6 characters",
      v => v.length <= 15 || "Password must be less than 15 characters"
    ],
    valid: true,
    validOTP: true,
    textError: "",
    reCaptResult: "",
    isRequestUserInfo: false
  }),
  created() {
    if (config.loggedIn()) {
      this.redirect();
      return;
    }
  },
  mounted() {
    // eslint-disable-next-line
    if (grecaptcha && grecaptcha.render) {
      // eslint-disable-next-line
      grecaptcha.render("reCapt", {
        sitekey: "6Lfzq38UAAAAAGEgGYqg0THhhVc9prYEZ4cVjWNF",
        callback: reCaptRes => {
          this.reCaptResult = reCaptRes;
        }
      });
    } else {
      window.reCaptLoad = () => {
        // eslint-disable-next-line
        grecaptcha.render("reCapt", {
          sitekey: "6Lfzq38UAAAAAGEgGYqg0THhhVc9prYEZ4cVjWNF",
          callback: reCaptRes => {
            this.reCaptResult = reCaptRes;
          }
        });
      };
    }
  },
  methods: {
    clear() {
      this.step = 1;
      this.username = "";
      this.password = "";
      this.showPass = false;
      this.otp = "";
      this.textError = "";
    },
    async fbCallback(res) {
      var result = res["authResponse"];
      var token = result["accessToken"];
      if (token) {
        // const loginFbRes = await config.loginFb(token);
        const loginFbRes = await config.post("login_fb", {
          fb_token: token
        });

        this.isLoading = false;
        const resData = loginFbRes.data;
        this.textError = config.handleError(resData.status);

        if (resData.status == 0) {
          localStorage.setItem("rpay:accInfo", JSON.stringify(resData.data));
          this.redirect();
        }
      }
    },
    async login() {
      try {
        if (this.step == 1 && !this.valid) {
          return;
        }

        if (this.reCaptResult == "") {
          this.textError = "reCaptcha invalid";
          // eslint-disable-next-line
          grecaptcha.reset();
          return;
        }
        // if (this.step == 2 && !this.validOTP) {
        //   return;
        // }

        this.textError = "";
        this.isLoading = true;

        const response = await config.post(
          "login",
          {
            username: this.username,
            password: md5(this.password),
            otp: this.otp
          },
          {
            "content-type": "application/json",
            reCaptcha: this.reCaptResult
          }
        );

        this.isLoading = false;
        const resData = response.data;
        this.textError = config.handleError(resData.status);

        if (resData.status == -1234) {
          this.textError = "reCaptcha invalid, please login again";
          // eslint-disable-next-line
          grecaptcha.reset();
          return;
        }

        if (resData.status == -5) {
          this.step = 2;
          return;
        }

        if (resData.status == 0) {
          localStorage.setItem("rpay:accInfo", JSON.stringify(resData.data));
          this.redirect();
        }
      } catch (error) {
        this.isLoading = false;
        this.textError = "System error";
      }
    },
    loginFb() {
      this.isLoading = true;
      // eslint-disable-next-line
      FB.login(this.fbCallback, {
        scope: "email, public_profile, user_friends"
      });
    },
    // facebookRequestUserInfo(token) {
    //   if (!this.isRequestUserInfo) {
    //     this.isRequestUserInfo = true;
    //     var params = new Object();
    //     params["fields"] =
    //       "picture.type(large),id,name,email,first_name,last_name,token_for_business";

    //     FB.api("/me", "GET", params, (response) => {
    //       if (!response || response.error) {
    //         cc.log("request userInfo error");
    //         return;
    //       }
    //       this.isRequestUserInfo = false;

    //       var jsonData = response;
    //       var id = jsonData.id;
    //       var name = jsonData.name;
    //       var email = jsonData.email;
    //       var avatarUrl = jsonData.picture.data.url;
    //       var business_token = jsonData.token_for_business;

    //       cc.log("FACEBOOK onAPISuccess: " + response.toString());

    //     });
    //   }
    // },
    redirect() {
      if (this.$route.query && this.$route.query.redirect) {
        this.$router.push(this.$route.query.redirect);
      } else {
        this.$router.push("/");
      }
    }
  }
};
</script>