<template>
  <v-app id="transfer">
    <HeaderAuth :activeTab="1"></HeaderAuth>
    <v-container fluid>
      <v-layout class="text-xs-center">
        <v-flex xs12 class="px-2">
          <v-card class="text-xs-left">
            <v-card-title>
              <h1 class="mx-auto mb-3">Transfer</h1>
            </v-card-title>
            <v-card-text>
              <p class="mt-3 ml-4">Total gem: {{ accInfo.balance | moneyText }} Gem</p>
              <p class="mt-3 ml-4">Available gem transfer: {{ available | moneyText }} Gem</p>
              <v-form
                v-model="valid"
                lazy-validation>
                <v-text-field 
                  prepend-icon="person"
                  label="Receiver ID"
                  type="text"
                  validate-on-blur
                  :rules='[v => !!v || "Receiver ID is required",
                  v => !isNaN(v) || "Receiver ID must be number",
                  v => v > 0 || "Receiver ID must be positive"]'
                  v-model.number="uid">
                </v-text-field>
                <v-text-field 
                  prepend-icon="attach_money"
                  label="Gem Transfer"
                  type="text"
                  validate-on-blur
                  :rules='[v => !!v || "Gem value is required",
                  v => !isNaN(v) || "Gem value must be number",
                  v => v >= 10000 || "Gem transfer value must be equal or more than 10000 Gem",
                  v => v <= available || "Gem value must be less than available gem transfer"]'
                  v-model.number="transferValue"
                  >
                </v-text-field>
                <v-text-field 
                  prepend-icon="phonelink_lock"
                  label="OTP"
                  type="text"
                  validate-on-blur
                  :rules='[v => !!v || "OTP is required",
                  v => v.length == 6 || "OTP must be 6 characters"]'
                  v-model="otp"
                >
                  <v-btn slot="append-outer" style="top: -12px" :loading="sendingOtp" :disabled="sentOtp" @click="getOtp">{{ sentOtp ? 'sent' : 'Get otp'}}</v-btn>
                </v-text-field>
                <p class="mt-3 ml-4">Transfer fee: {{ fee | moneyText }} Gem</p>
                <p class="mt-3 ml-4">Total fee: {{ total | moneyText }} Gem</p>
              </v-form>
              <v-alert
                v-show="textError != ''"
                :type=" textError == 'Success' ? 'success': 'error'">
                {{ textError }}
              </v-alert>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="primary" @click="transfer" :loading="isLoading" :disabled="!valid">Transfer</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-app>
</template>

<script>
import HeaderAuth from "@/components/HeaderAuth.vue";
import config from "@/config.js";
const md5 = require("md5");

export default {
  components: {
    HeaderAuth
  },
  data: () => ({
    accInfo: null,
    valid: true,
    isLoading: false,
    uid: "",
    transferValue: "",
    otp: "",
    sendingOtp: false,
    sentOtp: false,
    textError: ""
  }),
  computed: {
    available() {
      return +(+this.accInfo.balance / 1.02).toFixed(0) - 10000;
    },
    fee() {
      if (!this.transferValue || isNaN(this.transferValue)) return 0;
      return this.transferValue * 0.02 < 1
        ? 0
        : (this.transferValue * 0.02).toFixed(0);
    },
    total() {
      return +this.fee + +this.transferValue;
    },
    sign() {
      return md5(
        `transfer_money${this.transferValue}${this.accInfo.secret_key}${
          this.accInfo.security_key
        }${this.uid}${this.accInfo.token}${this.accInfo.uid}`
      );
    }
  },
  filters: {
    moneyText: config.moneyText
  },
  methods: {
    async getOtp() {
      this.sendingOtp = true;
      const otpSign = md5(`get_otp${this.accInfo.secret_key}${this.accInfo.security_key}${this.accInfo.token}${this.accInfo.uid}`);
      const response = await config.post("get_otp", {
        uid: this.accInfo.uid,
        secret_key: this.accInfo.secret_key,
        token: this.accInfo.token,
        sign: otpSign
      });

      this.sendingOtp = false;
      const resData = response.data;
      this.textError = config.handleError(resData.status);

      if (resData.status >= 0) {
        this.sentOtp = true;
      }
    },
    async transfer() {
      if (this.uid == 0) return;

      this.isLoading = true;

      const response = await config.post("transfer_money", {
        money: this.transferValue,
        uid: this.accInfo.uid,
        secret_key: this.accInfo.secret_key,
        token: this.accInfo.token,
        otp: this.otp,
        receiveId: this.uid,
        sign: this.sign
      });

      this.isLoading = false;

      const resData = response.data;
      this.textError = config.handleError(resData.status);

      if (resData.status >= 0) {
        this.textError = "Success";
        this.clear();
      }
    },
    clear() {
      this.uid = 0;
      this.transferValue = 0;
      this.otp = "";
      this.valid = true;
    }
  },
  created() {
    this.accInfo = config.getAccInfo();
  }
};
</script>

<style scoped>
.container {
  max-width: 1000px;
  margin: auto;
  padding-top: 80px;
}

.v-card__text {
  margin: auto;
  max-width: 500px;
}
</style>
