<template>
  <v-app id="withdraw">
    <HeaderAuth :activeTab="3"></HeaderAuth>
    <v-container fluid>
      <v-layout class="text-xs-center">
        <v-flex xs12 class="px-2">
          <v-card class="text-xs-left">
            <v-card-title>
              <p class="display-1 mx-auto mb-3">Withdraw</p>
            </v-card-title>
            <v-card-text>
              <p class="ml-4">Total YEA: {{ accInfo.balance | moneyText }} YEA</p>
              <p class="ml-4">Equivalent: {{ (accInfo.balance / 20000).toFixed(0) | moneyText }} USDT</p>
              <!-- <p class="mt-3 ml-4">Available YEA withdraw: {{ available | moneyText }} YEA</p> -->
              <v-form
                v-model="valid"
                lazy-validation>
                <v-text-field
                  prepend-icon="account_balance_wallet"
                  box
                  readonly
                  label="USDT Withdraw Address"
                  :value="accInfo.address"
                  class="mt-4"
                ></v-text-field>
                <p class="ml-4">Minimum YEA Withdraw: {{ 200000 | moneyText }} YEA</p>
                <v-text-field 
                  prepend-icon="attach_money"
                  label="YEA withdraw"
                  type="text"
                  validate-on-blur
                  :rules='[v => !!v || "YEA value is required",
                  v => !isNaN(v) || "YEA value must be number",
                  v => v >= 200000 || "YEA withdraw value must be more than 200000"]'
                  v-model.number="withdrawValue"
                  >
                </v-text-field>
                <p class="ml-4">Equivalent: {{ (withdrawValue / 20000).toFixed(2) | moneyText }} USDT</p>
               
                

                <!-- <v-tooltip top> -->
                   <v-text-field 
                    prepend-icon="phonelink_lock"
                    label="OTP Authentication"
                    type="text"
                    validate-on-blur
                    :rules='[v => !!v || "OTP is required",
                    v => v.length == 6 || "OTP must be 6 characters"]'
                    v-model="otp"
                  >
                    <!-- <v-btn slot="append-outer" style="top: -12px" :loading="sendingOtp" :disabled="sentOtp" @click="getOtp">{{ sentOtp ? 'sent' : 'Get otp'}}</v-btn> -->
                  </v-text-field>
                    <!-- slot="activator"
                  <span>Tooltip</span>
                </v-tooltip> -->
              </v-form>
              <v-alert
                :value="true"
                type="warning"
                color="amber accent-1"
                class="black--text text-xs-left"
              >
              <b>Important</b><br/><br/>After withdraw request sent, we will send USDT to address in account infomation.
              </v-alert>
              <v-alert
                v-show="textError != ''"
                :type=" textError == 'Success' ? 'success': 'error'">
                {{ textError }}
              </v-alert>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="primary" @click="withdraw" :loading="isLoading" :disabled="!valid">Submit withdraw</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-app>
</template>

<script>
import HeaderAuth from "@/components/HeaderAuth.vue";
import config from "@/config.js";
const md5 = require("md5");

export default {
  components: {
    HeaderAuth
  },
  data: () => ({
    accInfo: null,
    valid: true,
    isLoading: false,
    withdrawValue: "",
    otp: "",
    sendingOtp: false,
    sentOtp: false,
    textError: ""
  }),
  computed: {
    sign() {
      return md5(
        `withdraw${this.withdrawValue}${this.accInfo.secret_key}${
          this.accInfo.security_key
        }${this.accInfo.token}${this.accInfo.uid}`
      );
    }
  },
  filters: {
    moneyText: config.moneyText
  },
  methods: {
    // async getOtp() {
    //   this.sendingOtp = true;
    //   const otpSign = md5(
    //     `get_otp${this.accInfo.secret_key}${this.accInfo.security_key}${
    //       this.accInfo.token
    //     }${this.accInfo.uid}`
    //   );
    //   const response = await config.post("get_otp", {
    //     uid: this.accInfo.uid,
    //     secret_key: this.accInfo.secret_key,
    //     token: this.accInfo.token,
    //     sign: otpSign
    //   });

    //   this.sendingOtp = false;
    //   const resData = response.data;
    //   this.textError = config.handleError(resData.status);

    //   if (resData.status >= 0) {
    //     this.sentOtp = true;
    //   }
    // },
    async withdraw() {
      if (this.withdrawValue == 0) return;

      this.isLoading = true;

      const response = await config.post("withdraw", {
        money: this.withdrawValue,
        uid: this.accInfo.uid,
        secret_key: this.accInfo.secret_key,
        token: this.accInfo.token,
        otp: this.otp,
        sign: this.sign
      });

      this.isLoading = false;

      const resData = response.data;
      this.textError = config.handleError(resData.status);

      if (resData.status >= 0) {
        this.textError = "Success";
        this.clear();
      }
    },
    clear() {
      this.withdrawValue = 0;
      this.otp = "";
      this.valid = true;
    }
  },
  created() {
    this.accInfo = config.getAccInfo();
  }
};
</script>

<style scoped>
.container {
  max-width: 1000px;
  margin: auto;
  padding-top: 80px;
}

.v-card__text {
  margin: auto;
  max-width: 500px;
}
</style>
