<template>
  <v-flex xs6 sm8 class="px-2">
    <v-card>
      <v-card-text>
        <h1>Account Infomation</h1>
        <v-divider></v-divider>
        <v-container>
          <v-layout class="text-xs-center">
            <v-flex xs4 align-center justify-center>
              <v-avatar size="150px">
                <img :src="avt">
              </v-avatar>
            </v-flex>
            <v-flex xs8 align-center justify-center>
              <h2><b>{{ accInfo.username }} ({{ accInfo.nick }})</b></h2>
              <h3>ID: {{ accInfo.uid }}</h3>
              <h3>YEA: {{ accInfo.balance | moneyText }} (+{{ accInfo.freeze_money == 0 ? '0' : (accInfo.freeze_money | moneyText) }} Freeze)</h3>
              <h3>Fish coin: {{ accInfo.xuca | moneyText }}</h3>  
              <h3>Phone number: {{ accInfo.phone }}</h3>  
              <h3>USDT Address: {{ accInfo.address }}</h3>  
            </v-flex>
          </v-layout>
        </v-container>
      </v-card-text>
    </v-card>
  </v-flex>
</template>

<script>
import config from "@/config.js";
import listAvt from "@/assets";
  
export default {
  props: {
    accInfo: Object
  },
  computed: {
    avt() {
      return listAvt[Math.max(1, this.accInfo.avatar)];
    }
  },
  filters: {
    moneyText: config.moneyText
  },
  methods: {
    moneyText: config.moneyText
  }
};
</script>
