<template>
   <v-flex xs6 sm4 class="px-2">
    <v-card>
      <v-card-text>
        <ul>
          <li class="mb-2"><router-link to="/">Account Info</router-link></li>
          <!-- <li class="mb-2"><a class="router-link-active" href="javascript:;">Update phone number</a></li>
          <li class="mb-2"><a class="router-link-active" href="javascript:;">Contact support</a></li> -->
        </ul>
      </v-card-text>
    </v-card>
  </v-flex>
</template>

<script>
export default {
  data: () => ({
    accInfo: null
  }),
  created() {}
};
</script>

<style scoped>
li >>> a {
  font-size: 17px;
}
</style>


