<template>
  <v-toolbar
      :clipped-left="$vuetify.breakpoint.lgAndUp"
      color="#0d3767"
      dark
      app
      fixed
    >
      <v-toolbar-title class="ml-0 pl-3 pr-5">
        <span class="hidden-sm-and-down"><img :src="logoUrl"></span>
      </v-toolbar-title>
  </v-toolbar>
</template>


<style scoped>
.v-toolbar >>> .v-toolbar__content {
  max-width: 1000px;
  margin: auto;
}
</style>

<script>
export default {
  data: () => ({
    logoUrl: window.location.origin + '/coinyaz.png',
  }),
};
</script>