<template>
  <v-toolbar
      :clipped-left="$vuetify.breakpoint.lgAndUp"
      color="#0d3767"
      dark
      app
      fixed
    >
      <v-toolbar-title class="ml-0 pl-3 pr-5">
        <span class="hidden-sm-and-down"><img :src="logoUrl"></span>
      </v-toolbar-title>
      <v-btn flat :class="{ active: activeTab == 0 }" class="mx-1" to="/">Summary</v-btn>
      <!-- <v-btn flat :class="{ active: activeTab == 1 }" class="mx-1" to="/transfer">Transfer</v-btn> -->
      <v-btn flat :class="{ active: activeTab == 2 }" class="mx-1" to="/deposit">Deposit</v-btn>
      <v-btn flat :class="{ active: activeTab == 3 }" class="mx-1" to="/withdraw">Withdraw</v-btn>
      <v-btn flat :class="{ active: activeTab == 4 }" class="mx-1" to="/activities">Activities</v-btn>
      <v-spacer></v-spacer>
      <v-chip>
        <v-avatar>
          <img :src="avt">
        </v-avatar>
        {{ accInfo.nick }}<br/>
        {{ accInfo.balance | moneyText }} YEA
      </v-chip>
      <v-dialog
      v-model="logoutDialog"
      width="500">
        <v-btn
          slot="activator"
          color="red lighten-2"
          dark
        >
          Log out
        </v-btn>

        <v-card>
          <v-card-title
            class="headline grey lighten-2"
            primary-title
          >
            Logout
          </v-card-title>

          <v-card-text>
            Do you want to logout?
          </v-card-text>

          <v-divider></v-divider>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="red lighten-2"
              flat
              @click="logout()">
              Accept
            </v-btn>
            <v-btn
              color="primary"
              flat
              @click="logoutDialog = false">
              Cancel
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <!-- <v-btn flat small @click="logout()">Log out</v-btn> -->
  </v-toolbar>
</template>

<script>
import config from "@/config.js";
import listAvt from "@/assets";

export default {
  props: {
    activeTab: Number
  },
  data: () => ({
    accInfo: null,
    logoutDialog: false,
    logoUrl: window.location.origin + '/coinyaz.png',
    // avts: [ null, ]
  }),
  computed: {
    avt() {
      return listAvt[Math.max(1, this.accInfo.avatar)];
    }
  },
  filters: {
    moneyText: config.moneyText
  },
  created: function() {
    this.accInfo = config.getAccInfo();
  },
  methods: {
    logout() {
      this.logoutDialog = false;
      config.logout(); 
    }
  }
};
</script>

<style scoped>
.v-toolbar >>> .v-toolbar__content {
  max-width: 1000px;
  margin: auto;
}

.v-btn.active {
  border-bottom: 1px solid #fff;
}

.v-chip >>> .v-chip__content {
  height: 40px;
}
</style>
