<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style>
.router-link-active {
  font-weight: bold;
  color: #0070ba;
  text-decoration: none;
}

.router-link-active:hover {
  text-decoration: underline;
}

p {
  word-wrap: break-word;
}
</style>
